.body {
	background: url("../images/background/afi-720p.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

b {
	color: #003366;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
}

.navbar-axa {
	background-color: #FFFFFF;
	position: fixed;
	height: 110px;
}

.navbar-axa-img {
	height: 35px;
}

.logo {
	width: 150px;
	height: auto;
	padding: 5px 5px;
	margin-left: 15px;
}

.main-axa {
	margin: 8em 8em;
	width: 108em;
	margin-left: -16em;
}

.up-text {
	width: 770px;
	padding: 0 25px;
}

.up-text p {
	font-family: 'MyriadPro-Regular';
	font-size: 15px;
	color: black;
	text-shadow: 0px -1px 0px #FFFFFF;
	text-align: justify;
}

.main-video {
	padding: 0 10px;
	width: 750px;
	margin: 0 -20px;
}

.down-text {
	font-family: 'MyriadPro-Regular';
	font-size: 15px;
	color: black;
	text-shadow: 0px -1px 0px #FFFFFF;
	text-align: justify;
}

.down--btn {
	padding: 0 10px;
}

.down--btn-i {
	margin: 0 15px;
}

.btn-axa {
	margin-top: 50px;
	background: linear-gradient(-600deg, #FFFFFF 88%, #003366 12%);
	border-radius: 5px;
	border: 1px solid #003366;
	display: inline-block;
	cursor: pointer;
	color: #003366;
	padding: 5px 5px;
	width: 200px;
	font-family: 'MyriadPro-Regular';
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 0px #FFFFFF;
}

.btn:hover {
	background: linear-gradient(-600deg, #FFFFFF 20%, #003366 80%);
}

.btn:active {
	position: relative;
		top: 1px;
}

.round {
	display: inline-block;
	height: 10px;
	width: 10px;
	line-height: 12px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #222;    
	color: #FFFFFF;  
}
.round.round-lg {
    height: 25px;
    width: 25px;
    line-height: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 18px;
}

.round-blue {
    background-color: #003366;
}

.btn-round {
	margin-left: -25px;
}

.btn-round-font {
	font-size: 18px;
}

.btn-left {
	margin-right: 55px;
}

.footer {
	   position: fixed;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   background-color: #003366;
	   color: white;
	   height: 75px;
}

.footer p {
	color: #FFFFFF;
	font-family: 'MyriadPro-Regular';
	font-size: 20px;
	text-align: center;
}

.border-footer {
	padding: 2px 0 2px;
	margin: 0 380px;
}

.booder--img {
	margin-top: -25px;
}

